.idea/*
__pycache__/*
BioMetaDB/__pycache__/*
BioMetaDB/Accessories/__pycache__/*
BioMetaDB/Config/__pycache__/*
BioMetaDB/DBOperations/__pycache__/*
BioMetaDB/DBManagers/__pycache__/*
BioMetaDB/Exceptions/__pycache__/*
BioMetaDB/Indexers/__pycache__/*
Example/DB/*
BioMetaDB/Models/__pycache__/*
BioMetaDB/Serializers/__pycache__/*
build/*
*.c
*.so
BioMetaDB/*/*.so
BioMetaDB/*/*.c
